<loggers>
	<logger>
		<type>CONSOLES</type>
		<name>LogParser</name>
		<output>
			<fileName>parserLog</fileName>
			<levelLog>DEBUG</levelLog>
			<formatDate>dd-M-yyyy hh:mm:ss</formatDate>
			<patternMessage>%L-%n-%d-%n-%g-%n-%p-%n-%m</patternMessage>
			<separator>-</separator>
			<regularExpresion>^[a-zA-Z0-9]*$</regularExpresion>
			<customFilter>
				<valPattern pattern="%L">^\d+$</valPattern>
				<valPattern pattern="%g">LogParser</valPattern>
				<valPattern pattern="%m">^*patter14</valPattern>
			</customFilter>			
		</output>
	</logger>
	<logger>
		<type>CONSOLES</type>
		<name>LogIndexer</name>
		<output>
			<fileName>indexerLog</fileName>
			<levelLog>ERROR</levelLog>
			<formatDate>yyyy MMM dd</formatDate>
			<patternMessage>%L-%n-%d-%n-%p-%n</patternMessage>
			<separator>*</separator>
			<regularExpresion>Expresion2</regularExpresion>
			<customFilter>
				<valPattern pattern="%T">patter2.1</valPattern>
				<valPattern pattern="%L">^\d+$</valPattern>
				<valPattern pattern="%p">patter2.3</valPattern>
				<valPattern pattern="%g">patter2.4</valPattern>
			</customFilter>			
		</output>
	</logger>
</loggers>