<loggers>
	<logger>
		<type>FILES</type>
		<customClassName></customClassName>
		<name>logger1</name>
		<output>
			<fileName>logger1.log</fileName>
			<levelLog>DEBUG</levelLog>
			<formatDate>dd-MM-YYYY hh:mm:ss.SSS</formatDate>
			<patternMessage>%d-%p-%g-%t-%F-%L-%%-%m-%n</patternMessage>
			<separator>~</separator>
			<regularExpresion>^*$</regularExpresion>
			<customFilter>
				<valPattern pattern="%L">^\d*[13579]$</valPattern>
			</customFilter>			
		</output>
	</logger>
	<logger>
		<type>CUSTOM</type>
		<customClassName>tp1_7510.grupo8.Printer.CustomPrinter</customClassName>
		<name>logger2</name>
		<output>
			<fileName>logger2.log</fileName>
			<levelLog>DEBUG</levelLog>
			<formatDate>dd-MM-YYYY hh:mm:ss.SSS</formatDate>
			<patternMessage>%d-%p-%g-%t-%F-%L-%%-%m-%n</patternMessage>
			<separator>" "</separator>
			<regularExpresion>tp</regularExpresion>
			<customFilter></customFilter>			
		</output>
	</logger>
	<logger>
		<type>JSON</type>
		<customClassName></customClassName>
		<name>logger3</name>
		<output>
			<fileName>logger3.log</fileName>
			<levelLog>WARN</levelLog>
			<formatDate>dd-MM-YYYY hh:mm:ss.SSS</formatDate>
			<separator>_</separator>
			<patternMessage>%d-%p-%g-%t-%F-%L-%%-%m-%n</patternMessage>
			<regularExpresion>^*$</regularExpresion>
			<customFilter></customFilter>
		</output>
	</logger>
</loggers>
