<loggers>
	<logger>
		<type>FILES</type>
		<name>aName</name>
		<output>
			<fileName>aFileName</fileName>
			<levelLog>aLevelLog</levelLog>
			<formatDate>dd/mm/aa</formatDate>
			<patternMessage>%d%s%l%s</patternMessage>
			<separator>-</separator>
			<regularExpresion>ALGO</regularExpresion>
			<customFilter>
				<valPattern pattern="%d">"ALGO"</valPattern>
				<valPattern pattern="%s">"ALGO"</valPattern>
				<valPattern pattern="%l">"ALGO"</valPattern>
				<valPattern pattern="%T">"ALGO"</valPattern>
			</customFilter>			
		</output>
	</logger>
	<logger>
		<type>FILES</type>
		<name>aName</name>
		<output>
			<fileName>aFileName</fileName>
			<levelLog>aLevelLog</levelLog>
			<formatDate>dd/mm/aa</formatDate>
			<patternMessage>%d%s%l%s</patternMessage>
			<separator>-</separator>
			<regularExpresion>ALGO</regularExpresion>
			<customFilter>
				<valPattern pattern="%d">"ALGO"</valPattern>
				<valPattern pattern="%s">"ALGO"</valPattern>
				<valPattern pattern="%l">"ALGO"</valPattern>
				<valPattern pattern="%T">"ALGO"</valPattern>
			</customFilter>			
		</output>
	</logger>
</loggers>